*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    background-color: #1F2937;
    color: #F9FAF4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 6rem;
    font-family: 'Roboto', sans-serif; 
    height: 30rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    color: #1F2937;
}
.header-link { 
    display: flex;
    gap: 1rem;
    list-style: none;
}

.home-main {
    flex-basis: auto;
    display: flex;
    margin: 5rem 0;
    flex: 1;
    gap: 1rem;
    width: 90%;
}
.home-main-left {
    flex: 1;
    align-content: center;
}
.home-main-left h4 {
    font-size: 3rem; 
    color: #F9FAF8;
    font-weight: 900;
}
.home-main-left p {
    font-size: 1.125rem; 
    color: #E5E7EB;
}
.home-main-left button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 0.625rem 2rem; 
    border-radius: 0.625rem; 
    cursor: pointer;
    border: none;
    font-weight: 800;
}
.home-main-right { 
    flex: 1;
    background-color: dimgray;
}
.home-main-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
}
.Info-box { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 60rem;
    gap: 1rem;
}
.Info-box .box img {
    border: 2px solid #3882F6;
    width: 100%;
    height: 9.375rem; 
    border-radius: 1.25rem; 
    flex: 1;
}
.Info-box .box p {
    text-align: center;
    flex: 1;
}

.Quote {
    background-color: #E5E7EB;
    font-size: 2.25rem; 
    color: #1F2937;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 6rem;
}
.Quote-content { 
    display: flex;
    flex-direction: column;
    width: 60rem;
    padding: 2rem 0;
    justify-content: center;
}
.Quote-content .Quote-text{
    font-style: italic;
}
.Quote-content .Quote-author {
    text-align: right;
    font-weight: 600;
}

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  6rem;
}
.CTA-main { /* Simplified */
    display: flex;
    align-items: center;
    border: 5px solid #3882F6;
    padding: 2rem 4rem;
    gap: 7rem;
    border-radius: 0.625rem; 
    background-color: #3882F6;
    color: #F9FAF4;
}
.CTA-main .CTA-button button{
    background-color: transparent;
    color: #E5E7EB;
    padding: 0.625rem 2rem; 
    border-radius: 0.625rem; 
    cursor: pointer;
    border: 2px solid #E5E7EB;
    font-weight: 900;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}