*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    background-color: #1F2937;
    color: #F9FAF4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    font-style: Roboto;
}
.home .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .header .logo {
    color: #1F2937;
}
.home .header .header-link {
    display: flex;
    
}
.home .header .header-link li {
    list-style: none;
    margin-right: 1rem;
}
.home .home-main {
    flex-basis: auto;
    display: flex;
}
.home .home-main .home-main-left {
    margin: 5rem 0;
}
.home .home-main .home-main-left h4 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.home .home-main .home-main-left p {
    font-size: 18px;
    color: #E5E7EB;
}
.home .home-main .home-main-left button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}
.home .home-main .home-main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: dimgray;
}
.home .home-main .home-main-right img {
    width: 100%;
    height: auto;

}

.Info {
}

.Quote {
}

.CTA {
}

.footer {
    background-color: #1F2937;
}